body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #071c4d;
}

.navbar-light .icon-text {
  color: #9c501a;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.active {
  font-weight: bold;
  color: #071c4d !important;
}

header {
  padding: 180px 0px 165px;
  margin-top: -85px;
  background-image: url("../images/Spice2.jpg");
  background-size: cover;
}

header h1, header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #071c4d;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

header .btn-get-started:hover {
  background-color: #ffffff;
  color: #071c4d;
}

.section-stats {
  margin-top: -75px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 10px;
}

.section-stats h2 {
  font-size: 45px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #72502c;
  margin-top: -60px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #ffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-food .card-food {
  min-height: 380px;
  background-image: url("../images/Rendang.png");
  background-color: #bd9494;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .food-name {
  font-size: 26px;
  color: #ffffff;
}

.section-popular-content .food-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .food-button .btn-food-details {
  background-color: #FFAE6F;
  color: #ffffff;
}

.section-networks {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 80%;
}

.section-testimonial-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#764108), color-stop(#926438), color-stop(#ac8967), color-stop(#c6af99), to(#ded6ce));
  background-image: linear-gradient(to bottom, #764108, #926438, #ac8967, #c6af99, #ded6ce);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.modal-help .btn-join-now {
  background-color: #25D366;
  color: #ffffff;
  border-radius: 0;
}

.modal-help .btn-join-now:hover {
  background-color: #25D366;
  color: #ffffff;
}

.modal-help .btn-join-now b {
  margin-top: -50px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 30px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 270px;
}

.section-testimonial-content .card-testimonial .food-love {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #071c4d;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #ffffff;
  color: #071c4d;
}

.section-testimonial-content .btn-need-help {
  background-color: #c4801b;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #ffffff;
  color: #c4801b;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 330px;
  background: #764108;
  margin-top: -85px;
}

.section-details-content {
  margin-top: -220px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item a {
  color: #ffffff;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h1 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .center-cropped {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
  height: 400px;
}

.section-details-content .gallery .center-picture {
  -o-object-position: center;
     object-position: center;
  height: 400px;
}

.section-details-content .members .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #25D366;
  color: #ffffff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #25D366;
  color: #ffffff;
}

.section-details-content .btn-join-now b {
  margin-top: -50px;
}

.section-details-content .btn-tokopedia-now {
  background-color: #25D366;
  color: #ffffff;
  border-radius: 0;
}

.section-details-content .btn-tokopedia-now:hover {
  background-color: #25D366;
  color: #ffffff;
}

.section-details-content .btn-shopee-now {
  background-color: #fc5424;
  color: #ffffff;
  border-radius: 0;
}

.section-details-content .btn-shopee-now:hover {
  background-color: #fc5424;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */